 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.heading {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;

}


.main-video iframe {
    width: 100%;
}

.main-video {
 
    padding: 10px;
    width: 100%;
    height: 100%;

}



.container.main-video video {
    border-radius: 5px;


}

.main-video .video-title {
    color: black;
    font-size: 10px;

}

.video-shh {
    display: none;
}

.container .video-list {
    
    border-radius: 5px;
    height:700px;
    overflow-y: scroll;
}


#player{
    width:640px;
     height:460px;
}
.container .video-list::-webkit-scrollbar {
    width: 7px;
}

.container .video-list::-webkit-scrollbar {
  
    border-radius: 50px;
}

.container .video-list .vid video {
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid {
    display: flex;
    align-items: center;
    background-color: red;
    gap: 15px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}
.container .video-list .vid:hover {
    transform: scale(1.1);
    background-color: red;
    color: white;
}
.container .video-list .vid .active {
    background-color: aqua;
}

@media (max-width:991px) {
    .container {
        grid-template-columns: 1.5fr 1fr;
        padding: 5px 5%;
    }

}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }

        #player{
        width: 100%;
        height: 260px;
      
    }
        .container .video-list {
    
            border-radius: 5px;
            height: 375px;
            overflow-y: scroll;
        }

    .container .video-list::-webkit-scrollbar {
        width: 0px;
    }

    .video-shh {
        display: none;
    }

}


